.dark {
	--font-color: white;
	--main-accent: #0af29f;
	--secondary-accent: #7fffd4;
	--tertiary-accent: #c8fff0;
	--main-background: #282c34;
	--secondary-background: #242526;
	--tertiary-background: #23272e;
	--quaternary-background: #303846;
	--placeholder-color: #818589;
}
