:root {
	--border-color-light: #ff3f93;
	--box-shadow-color-light: #ff3f93;
	--past-interests-background-light: #e5e4e2;
	--past-interests-border-light: #d3d3d3;
	// --idk: #ddd;
}

// Universal Styles
.light {
	--main-accent: #ff3f93;
	--secondary-accent: pink;
	--tertiary-accent: black;
	--main-background: #f5f5f5;
	--secondary-background: #e5e4e2;
	--tertiary-background: white;
	--quaternary-background: #d3d3d3;
	--placeholder-color: #818589;

	* {
		color: var(--main-accent);
	}

	// Main/Tag Styles

	// button {
	// 	background-color: $background-color-button-light;
	// }

	// nav a,
	// nav a:visited,
	// .AppLink,
	// .AppLink:visited {
	// 	color: $text-color-primary-light;
	// }

	// input::placeholder {
	// 	color: $placeholder-color-light;
	// }

	// // Forms
	// .daily-forms {
	// 	section {
	// 		/* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
	// 		box-shadow: 0 8px 8px -4px $box-shadow-color-light;
	// 	}

	// 	input,
	// 	select {
	// 		border-bottom: 1px solid $border-color-light;
	// 	}
	// }

	// .form-field:focus {
	// 	border-color: $text-color-primary-light;
	// }

	// #sign-in-form {
	// 	p {
	// 		color: black;
	// 	}

	// 	input {
	// 		background-color: $input-background-light;
	// 	}
	// }

	// // Daily Section
	// .past-interests p {
	// 	border: 1px solid $past-interests-border-light;
	// 	background-color: $past-interests-background-light;
	// }

	// .daily-blocks {
	// 	background-color: $daily-blocks-background-light;

	// 	p {
	// 		border: 1px solid $daily-blocks-border-light;
	// 	}
	// }
}
