.light {
	--font-color: #3a3a3a;
	--main-accent: #ff3f93;
	--secondary-accent: #ff80b5;
	--tertiary-accent: #ffb3d1;
	--main-background: #f5f5f5;
	--secondary-background: #ebebeb;
	--tertiary-background: #ffffff;
	--quaternary-background: #d3d3d3;
	--placeholder-color: #aaa;
}
