@import "../../../style/dailyElements";
@import "../../../style/formElements";

.interest {
	font-weight: bold;
	display: flex;
	justify-content: center;
	padding-block: 0.2vh;
	margin: auto;
}

.interest button {
	width: fit-content;
	margin-inline: 1vw 0;
}
