.past-interests {
  display: flex;
  justify-content: center;
}

.past-interests p {
  padding-inline: 1vw;
  margin-inline: .5vw;
  border-radius: 1vw;
}

.past-interests button {
  margin-left: .2vw;
}

.past-interests span {
  padding-left: 1vw;
}

.past-interest {
  cursor: pointer;
  margin-right: .5vw;
}
