.hamburger-menu {
	position: relative;
}

.menu-icon {
	cursor: pointer;
	width: 1.5rem; /* Replaced px with rem */
	height: 1.125rem; /* Replaced px with rem */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu-icon div {
	background-color: #000;
	height: 0.1875rem; /* Replaced px with rem */
	border-radius: 0.0625rem; /* Replaced px with rem */
	transition: all 0.3s ease-in-out;
}

.menu-icon.open div:nth-child(1) {
	transform: translateY(0.46875rem) rotate(45deg); /* Replaced px with rem */
}

.menu-icon.open div:nth-child(2) {
	opacity: 0;
}

.menu-icon.open div:nth-child(3) {
	transform: translateY(-0.46875rem) rotate(-45deg); /* Replaced px with rem */
}

.dropdown-menu {
	position: absolute;
	top: 2rem; /* This is fine, keep this as is */
	left: 0;
	right: auto;
	transform: none; /* Ensure it doesn’t go beyond the right edge */
	background-color: #242526; /* TODO: move this to themes */
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); /* Replaced px with rem */
	z-index: 1000;
	padding: 0.625rem; /* Replaced px with rem */
	border-radius: 0.25rem; /* Replaced px with rem */
	/* Add this line */
	/* transform: translateX(-5%); Adjust this value as needed */
}

.dropdown-menu a {
	display: block;
	padding: 0.5rem 0.75rem; /* Replaced px with rem */
	text-decoration: none;
	color: #333;
}

.dropdown-menu a:hover {
	background-color: #f0f0f0;
}
