.daily-display img {
  height: 2vh;
  width: auto;
}

.daily-blocks {
  display: flex;
  width: 90%;
  margin: 0 auto;
  background-color: #303846;
}

.grid {
  /* justify-content: center; */
  flex-direction: row;
}

.list {
  justify-content: space-between;
  flex-direction: column;
  width: fit-content;
}
/* TODO: add vertical/horizontal layout */

.daily-blocks p {
  margin: 0;
  border: 1px solid aquamarine;
  /* padding: 1vh; */
}

.daily-blocks.list p {
  padding-block: 1vh;
  padding-inline: 1vw;
}

.high {
  /* border: 1px solid aquamarine; */
  flex: 3 1;
}

.med {
  /* border: 1px solid aqua; */
  flex: 2 1;
}

.low {
  /* border: 1px solid pink; */
  flex: 1 1;
}
