.daily-blocks {
  display: flex;
  width: 90%;
  margin: 0 auto;
  background-color: #303846;
  justify-content: space-between;
}

/* TODO: add vertical/horizontal layout */

.daily-blocks p {
  margin: 0;
  border: 1px solid aquamarine;
}

.high {
  /* border: 1px solid aquamarine; */
  flex: 3 1;
}

.med {
  /* border: 1px solid aqua; */
  flex: 2 1;
}

.low {
  /* border: 1px solid pink; */
  flex: 1 1;
}