.daily-blocks {
  display: flex;
  width: 90%;
  min-height: 20vh;
  margin: 0 auto;
  background-color: gray;
  justify-content: space-between;
}

.daily-blocks p {
  margin: 0;
}

.high {
  border: 1px solid aquamarine;
  flex: 3 1;
}

.med {
  border: 1px solid aqua;
  flex: 2 1;
}

.low {
  border: 1px solid pink;
  flex: 1 1;
}