#loading-spinner {
  height: 20vh;
  margin-top: 5vh;
}
#loading-spinner {
  animation: gear-spin infinite 10s linear;
}

@media (prefers-reduced-motion: no-preference) {
}

@keyframes gear-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}