@import "../../style/mixins";

$background-url: url(https://images.unsplash.com/photo-1515847049296-a281d6401047?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3870&q=80);
$transition-duration: 1s;

.signIn {
	@include fill-space;
	display: flex;

	.right {
		flex: 1;
		background-color: var(--secondary-background);
		transition: $transition-duration;
		background-image: $background-url;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		min-width: 60%;
	}
}

@media (max-width: 1024px) {
	.right {
		display: none;
	}
}
