.header {
	text-align: center;
	padding-bottom: 1vh;
}

.pastInterests {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1vw;
	margin-bottom: 3vh;
}

.pastInterest {
	cursor: pointer;
	border: 1px solid var(--secondary-accent);
	border-radius: 0.3vw;
	padding-block: 0.5vh;
	padding-inline: 0.75vw;
	display: flex;
	align-items: center;
	transition: background-color 0.2s;
	background-color: var(--tertiary-background);

	&:hover {
		background-color: var(--main-background);
		box-shadow: 0 4px 4px -2px var(--secondary-accent);
	}
}
