#dark {
  background-color: #282c34;
  color: #0AF29F;
}

#dark * {
  color: #0AF29F;
}

#dark input {
  background-color: #23272E;
}

#dark select {
  background-color: #23272E;
}

#dark nav a,
nav a:visited,
.App-link,
.App-link:visited {
  color: #0aF29f;
}

#dark .App-header {
  background-color: #242526;;
}

#dark button {
  background-color: #23272E;
}

.form-field:focus {
  border-color: #0aF29f;
}

#dark footer {
  background-color: #242526;
}

#dark #sign-in-form p {
  color: white;
}

#dark .interest button {
  background-color: #282c34;
}

#dark .interest button {
  background-color: #282c34;
}