.App-header {
	min-height: 5.5vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: calc(10px + 2vmin);
	padding-inline: 1vw;
	padding-block: 1vh;
}

.App-header section {
	display: flex;
	align-items: flex-end;
	padding: 0;
}

.header-logo {
	height: 5.5vh;
	width: auto;
	display: block;
}

.site-title {
	height: 4vh;
	width: auto;
	display: block;
	/* margin-right: 5vw; */
}

.App-header > :first-child {
	width: fit-content;
}

.App-header > :nth-child(2) {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.App-header > :last-child {
	width: fit-content;
	margin-left: auto;
}

.header-logo,
.theme-button {
	margin-right: 1vw;
}

.theme-button {
	height: 4vh;
	width: auto;
	cursor: pointer;
}

@media (max-width: 900px) {
	.header-logo {
		display: none;
	}
	.desktop-links {
		display: none;
	}

	.hamburger-menu {
		display: block;
	}
}

@media (min-width: 901px) {
	.hamburger-menu {
		display: none;
	}

	.header-logo {
		display: block;
	}
}
