.App-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.App-header img {
  height: 5vh;
  width: auto;
}



/* color: #61dafb; */