.appHeader {
	background-color: var(--secondary-background);
	min-height: 5.5vh;
	display: flex;
	justify-content: space-between;
	padding-inline: 3vw;
	padding-block: 1vh;

	.logoSection {
		display: flex;
		align-items: flex-end;
		gap: 1vw;
	}

	> :last-child {
		display: flex;
		align-items: flex-end;
	}

	@media (max-width: 1024px) {
		.hiddenSection {
			display: none;
		}

		.hamburgerMenu {
			display: flex;
			align-items: center;
		}
	}

	@media (min-width: 1025px) {
		.hiddenSection {
			display: flex;
			align-items: flex-end;
		}

		.hamburgerMenu {
			display: none;
		}
	}
}

.headerLogo {
	height: 4vh;
	width: auto;
	display: block;
}

.siteTitle {
	height: 3vh;
	width: auto;
	display: block;
}
