.appHeader {
	background-color: var(--secondary-background);
	min-height: 5.5vh;
	display: flex;
	justify-content: space-between;
	padding-inline: 3vw;
	padding-block: 1vh;

	.logoSection {
		display: flex;
		align-items: flex-end;
	}

	> :last-child {
		display: flex;
		align-items: flex-end;
	}

	@media (max-width: 1024px) {
		.hiddenSection {
			display: none; /* Hide on small screens */
		}

		.hamburgerMenu {
			display: flex; /* Show on small screens */
			align-items: center;
		}
	}

	@media (min-width: 1025px) {
		.hiddenSection {
			display: flex; /* Show on large screens */
			align-items: flex-end;
		}

		.hamburgerMenu {
			display: none; /* Hide on large screens */
		}
	}
}

.headerLogo {
	height: 4vh;
	width: auto;
	display: block;
	margin-right: 1.5vw;
}

.siteTitle {
	height: 3vh;
	width: auto;
	display: block;
}

.desktopLinks {
	margin-left: 3vw;
}

.authSwitcher {
	background-color: transparent;
	border: none;
	text-decoration: underline;
	padding: 0;
	cursor: pointer;
	font-size: inherit;
}

.linkSeperator {
	margin-inline: 1vw;
}

@media (max-width: 1024px) {
	.desktopLinks {
		display: none;
	}
	.linkSeperator {
		display: none;
	}
}

@media (min-width: 1025px) {
	.desktopLinks {
		display: block;
	}
}
