// App.scss
.App {
	background-color: var(--background-color);
	text-align: center;
	min-height: 100vh;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
