/* global styles */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;1,300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
}

button {
  font-family: 'Source Code Pro', monospace;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

input,
select,
button {
  padding: 0;
  margin: 0;
  border: none;
}

.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

/* pointer-events: none; */
