$flex-auto: 1 1 auto;
$full-height: 100vh;

.main {
	text-align: center;
	height: $full-height;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&:first-child {
		flex: $flex-auto;
	}

	&:last-child {
		flex: $flex-auto;
	}

	// allow main content to grow
	& > *:nth-child(2) {
		flex: 3 1 auto;
	}
}
